                @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Oswald:wght@300;400;500&family=Roboto+Condensed:wght@300;400&family=Source+Sans+Pro:wght@300&display=swap');
                body {
                    background-color: rgb(242, 242, 242);
                }
                /*–––––––––––––––––HEADER–––––––––––––––––*/
                
                .header-top {
                    background-color: red;
                }
                /*–––––––––––––––––NAV–––––––––––––––––––*/
                
                nav {}
                /*–––––––––––––––––MAIN–––––––––––––––––––*/
                
                .container {
                    background-color: white;
                }