                @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Oswald:wght@300;400;500&family=Roboto+Condensed:wght@300;400;600&family=Source+Sans+Pro:wght@300;400;600&display=swap');
                body {
                    background-color: rgb(242, 242, 242);
                    font-family: 'Source Sans pro';
                }
                /*–––––––––––––––––HEADER–––––––––––––––––*/
                
                .header-top {
                    background-color: red;
                    padding: 1rem .5rem 0 .5rem;
                    color: white;
                }
                
                .left-title {
                    font-family: 'Roboto Condensed';
                }
                
                #date {
                    font-weight: 100;
                }
                
                .mid-title {
                    font-family: 'Merriweather';
                    font-size: 65px;
                    font-weight: 900;
                }
                
                #r {
                    position: relative;
                    right: 1rem;
                    font-size: 9px;
                }
                
                .btn {
                    font-weight: 600;
                    font-size: 17px;
                    font-family: 'Oswald';
                    font-weight: 700;
                }
                
                .header-btn {
                    color: white;
                }
                
                .subscribe-btn {
                    border-radius: 24px;
                    text-align: center;
                    padding: 4px 8px;
                }
                /*–––––––––––––––––NAV–––––––––––––––––––*/
                
                .top {
                    font-family: 'Roboto Condensed';
                    font-size: 18px;
                    font-weight: 600;
                    color: black;
                }
                
                .nav-link:hover {
                    color: red;
                }
                
                .form-control {
                    font-family: 'roboto condensed';
                    font-size: 17px;
                }
                
                .trend {
                    pointer-events: none;
                    font-size: 16px;
                    color: black;
                    font-family: 'Oswald';
                    font-weight: 700;
                }
                
                .bottom-link {
                    color: grey;
                    font-size: 16px;
                    font-family: 'Oswald';
                    font-weight: 700;
                }
                
                .nav-1 {
                    margin-bottom: 3px;
                }
                
                .nav-2:hover {
                    color: red;
                }
                
                .navbar {
                    padding: 15px;
                }
                /*–––––––––––––––––MAIN–––––––––––––––––––*/
                
                main {
                    padding-top: 3px;
                }
                
                .container {
                    background-color: white;
                }
                
                #spacing-top {
                    padding: 15px;
                }
                
                h2 {
                    font-size: 15px;
                    font-family: 'Oswald';
                    color: grey;
                }
                
                a {
                    color: black;
                    font-weight: 600;
                    font-family: 'Source Sans Pro';
                    font-size: 20px;
                    line-height: 1px;
                }
                
                a:hover {
                    text-decoration: underline red;
                    color: black;
                }
                /*–––––––––––––––––COL-1–––––––––––––––––––*/
                /*–––––––––––––––––COL-2–––––––––––––––––––*/
                /*–––––––––––––––––COL-3–––––––––––––––––––*/
                
                #h2-vs {
                    width: 100%;
                    text-align: center;
                    border-bottom: 3px double rgb(211, 211, 211);
                    line-height: 0.1em;
                    margin: 10px 0 20px;
                }
                
                #vs {
                    background: #fff;
                    padding: 0 10px;
                    background-color: black;
                    color: white;
                    border-radius: 50%;
                    font-size: 15px;
                    padding: 8px 9px;
                    font-weight: 400;
                    font-family: 'Source Sans Pro';
                }